<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <form action="/elias" method="get">
            <input type="submit" value="Login with Facebook" />
    </form>
  </body>
</html>
